{% extends "base.html" %} 
{% block content %}


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Zattkowa strona filmowa. </h3>
                    <p class="text-light">No nie nazwę tego zattfilx bo głupio &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% if user.is_authenticated %}  
      <div class="container-fluid">
      <div class="row">
          {% for post in post_list %}
              <div class="col-auto">
                  <div class="card border-primary mb-3">
                      <a href="{% url 'post_detail' post.slug  %}">
                          <img style=display: block;" src="{{ post.thumb.url }}" alt="Responsive image" width="307" height="240" >
                      </a>
                      <div class="card-header">
                          TEST
                          <span class="badge badge-pill badge-info">{{ post.resolution }}</span>
                      </div>
                      <div class="card-body">
                          <h4 class="card-title">{{ post.title|slice:":15"}}</h4>
                          <p class="card-text">{{ post.content|slice:":30" }} ...</p>
                          
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>   

  {% else %}
  <div class="alert alert-dismissible alert-danger">    
  
  <strong>Oh snap!</strong>Ktoś tu nie jest zalogowany.</a> Naciśnij naciśk poniżej
  <a href="{% url 'login' %}"  button type="button" class="btn btn-info" >login</button></a>
</div>{% endif %}
{%endblock%}