{% extends "base.html" %} 
{% block content %}


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Zattkowa strona filmowa. </h3>
                    <p class="text-light">No nie nazwę tego zattfilx bo głupio &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.is_authenticated %}

        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
      {% endif %}


{% for post in post_list %}
<div class="card-deck">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <a href="{% url 'post_detail' post.slug  %}">
        <img style="height: 200px; width: 100%; display: block;" src="{{ post.thumb.url }}" alt="Card image">
            </a>
        <div class="card-header">Film albo Serial</div>
        <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{post.content|slice:":200" }}</p>
        </div>
        </div>
    {% endfor %}
</div> 
</div> 

</div>
{%endblock%}